.title {
    font-size: rem(34px);
    font-weight: 900;
    color: var(--mantine-color-text);
    text-decoration: none;
    text-align: center;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(24px);
    }
}

.background {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.description {
    max-width: rem(600px);
    margin: auto;

    
}

.card {
    border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}


