.card {
    height: rem(440px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
}

.image {
    max-height: 400px;
    object-fit: cover;
    margin: auto;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: linear-gradient(250deg, rgba(134, 46, 156, 0) 0%, rgba(134, 46, 156, 0.9) 70%);*/
    background: linear-gradient(250deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.3) 70%);
    z-index: 0;
}

.title {
    font-family:
            Greycliff CF,
            sans-serif;
    font-weight: 900;
    color: var(--mantine-color-white);
    line-height: 1.2;
    font-size: rem(32px);
    margin-top: var(--mantine-spacing-xs);
}

.description {
    color: var(--mantine-color-gray-0);

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-md);
        text-align: left;
    }
}

.category {
    color: var(--mantine-color-white);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
}

.carousel {

}

.carouselControls {
    opacity: 100%;
    color: var(--mantine-color-black);
}

.carouselControl {
    background-color: var(--mantine-color-white);
}

.carouselIndicator {
    width: rem(4px);
    height: rem(4px);
    transition: width 250ms ease;
    background-color: var(--mantine-color-white);
    z-index: 3;

    &[data-active] {
        width: rem(16px);
    }
}