.card {
    height: rem(440px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
}

/*.card::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 0; !* Start at the bottom *!*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 20%; !* Only cover the bottom 20% *!*/
/*    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);*/
/*    pointer-events: none;*/
/*}*/

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: linear-gradient(250deg, rgba(134, 46, 156, 0) 0%, rgba(134, 46, 156, 0.9) 70%);*/
    background: linear-gradient(250deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.3) 70%);
    z-index: 0;
}

.carousel {

}

.carouselControls {
    opacity: 100%;
    color: var(--mantine-color-black);
}

.carouselControl {
    background-color: var(--mantine-color-white);
}

.carouselIndicator {
    width: rem(4px);
    height: rem(4px);
    transition: width 250ms ease;
    background-color: var(--mantine-color-gray-4);
    z-index: 3;

    &[data-active] {
        width: rem(16px);
        background-color: var(--mantine-color-white);
        box-shadow: 0 0 0 rem(1px) var(--mantine-color-gray-5);
    }
}